*{
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

.content{
  width: 50vw;
  max-width: 1080px;
  margin: 0 auto;
}

.border{
  border-radius: 5px;
  border: 1px #d1d1d1 solid;
  padding: 10px;
  box-sizing: border-box;
}
